<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Passagem Promocional</title>
    <link rel="stylesheet" th:href="@{/scr/main/resources/static/css/detalhedapassagempromocional.css}" />
</head>

<body class="body-amarelo">
    <h2>Detalhes da Passagem Promocional</h2>

    <!-- Adicione detalhes específicos da Passagem Promocional aqui -->
    
      <div>
        <p><strong>Origem:</strong> São Paulo</p>
        <p><strong>Destino:</strong> Rio de Janeiro</p>
        <p><strong>Data:</strong> 15 de dezembro de 2023</p>
        <p><strong>Preço:</strong> R$ 150,00</p>
        <p><strong>Código Promocional:</strong> ABC123</p>
        <!-- Adicione mais detalhes específicos da Passagem Promocional conforme necessário -->
    </div>

</body>
</html>
