<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes das Restrições da Passagem</title>
        <link rel="stylesheet" th:href="@{/scr/main/resources/static/css/detalherestricoes.css}" />
</head>

<body class="body-vermelho">
    <h2>Detalhes das Restrições da Passagem</h2>
    
    <div>
        <p><strong>Restrições:</strong> Não reembolsável, não transferível</p>
        <p><strong>Data de Validade:</strong> 31 de dezembro de 2023</p>
        <!-- Adicione mais detalhes específicos das Restrições da Passagem conforme necessário -->
    </div>

    <!-- Adicione detalhes específicos das Restrições da Passagem aqui --

</body>
</html>
