<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Passagem Comum</title>
        <link rel="stylesheet" th:href="@{/scr/main/resources/static/css/detalhedapassagemcomum.css}" />
</head>

<body class="body-azul">
    <h2>Detalhes da Passagem Comum</h2>

<div>
        <p><strong>Origem:</strong> São Paulo</p>
        <p><strong>Destino:</strong> Rio de Janeiro</p>
        <p><strong>Data:</strong> 15 de dezembro de 2023</p>
        <p><strong>Preço:</strong> R$ 200,00</p>
        <p><strong>Assento:</strong> 15A</p>
        <!-- Adicione mais detalhes específicos da Passagem Comum conforme necessário -->
    </div>

    

</body>
</html>
