<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Passagem</title>
    <link rel="stylesheet" th:href="@{/scr/main/resources/static/css/detalhedapassagem.css}" />
</head>

<body class="body-branco">
    <h2>Detalhes da Passagem</h2>

    <div>
        <p><strong>Origem:</strong> São Paulo</p>
        <p><strong>Destino:</strong> Rio de Janeiro</p>
        <p><strong>Data:</strong> 15 de dezembro de 2023</p>
        <p><strong>Preço:</strong> R$ 300,00</p>
        <!-- Adicione mais detalhes conforme necessário -->
    </div>

    <!-- Adicione detalhes específicos da Passagem aqui -->


</body>
</html>
